@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-base font-normal bg-whiteBg text-blackBg;
  }
}

@layer components {
  /*Hero section  */
  .gradient {
    background-image: linear-gradient(130deg, #1729b2, #4475eb);
    background-repeat: no-repeat;
  }

  .decorations {
    position: relative;
  }

  .decorations::before {
    content: '';

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: 1;

    background-image: url('/images/hero/mac-mobile@1x.png');
    background-repeat: no-repeat;
    background-position: center bottom 120px;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('/images/hero/mac-mobile@2x.png');
      background-size: 165px 138px;
    }
  }

  .decorations::after {
    content: '';

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-image: url('/svg/hero/wave-mobile-b.svg');
    background-repeat: no-repeat;
    background-position: bottom right -2px;

    background-color: #fff;

    mix-blend-mode: screen;
  }

  @media (min-width: 480px) {
    .gradient {
      background-position-x: 170px;
    }
  }

  @media (min-width: 768px) {
    .gradient {
      background-position-x: 50vw;
    }

    .decorations::before {
      background-image: url('/images/hero/mac-tablet@1x.png');
      background-position: right -40px bottom 60px;

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url('/images/hero/mac-tablet@2x.png');
        background-size: 427px 354px;
      }
    }

    .decorations::after {
      background-image: url('/svg/hero/wave-tablet-b.svg');
      background-position: right -2px bottom;
    }
  }

  @media (min-width: 1280px) {
    .decorations::before {
      background-image: url('/images/hero/mac-desktop@1x.png');
      background-position: right 13px bottom 80px;

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url('/images/hero/mac-desktop@2x.png');
        background-size: 724px 600px;
      }
    }

    .decorations::after {
      background-image: url('/svg/hero/wave-desktop-b.svg');
      background-position: right -72px bottom;
    }
  }
  /*Hero section  */
}
